[Desktop Entry]
Name=OrcaSlicer
Exec=orcaslicer %F
Icon=orcaslicer
Comment=G-code generator for 3D printers
Type=Application
Categories=Graphics;3DGraphics;Engineering;
MimeType=model/stl;application/vnd.ms-pki.stl;application/x-tgif;
